.loadingWholeCont{
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background: #fff;
    display: block;
    margin: 10em auto;
    position: absolute;
    left: 50%;
    animation: spin 2s ease infinite;

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        height: inherit;
        width: inherit;
        background: inherit;
        border-radius: inherit;
        animation: spin 2s ease infinite;
    }

    &:before {
        left: -(2*1.15)+em;
    }

    &:after {
        left: (2*1.15)+em;
    }
}

@keyframes spin {
    0% {
        top: 0;
        transform: rotate(0deg);
    }

    50% {
        top: -(2*2)+em;
        transform: rotate(-180deg);
    }

    100% {
        top: 0;
        transform: rotate(-360deg);
    }
}